@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-Thin.ttf') format('opentype');
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-Light.ttf') format('opentype');
	font-weight: 200;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-Book.ttf') format('opentype');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-Middle.ttf') format('opentype');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-Regular.ttf') format('opentype');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-Bold.ttf') format('opentype');
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-ExtraBold.ttf') format('opentype');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-ThinItalic.ttf') format('opentype');
	font-weight: 100;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-LightItalic.ttf') format('opentype');
	font-weight: 200;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-BookItalic.ttf') format('opentype');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-MiddleItalic.ttf') format('opentype');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-Italic.ttf') format('opentype');
	font-weight: 500;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-BoldItalic.ttf') format('opentype');
	font-weight: 600;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/BebasNeuePro-ExtraBoldItalic.ttf') format('opentype');
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: 'Editorial';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPEditorialNew-Ultralight.otf') format('opentype');
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: 'Editorial';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPEditorialNew-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Editorial';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPEditorialNew-Ultrabold.otf') format('opentype');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Editorial';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPEditorialNew-UltralightItalic.otf') format('opentype');
	font-weight: 100;
	font-style: italic
}

@font-face {
	font-family: 'Editorial';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPEditorialNew-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'Editorial';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPEditorialNew-UltraboldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-Light.otf') format('opentype');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-Semibold.otf') format('opentype');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-Black.otf') format('opentype');
	font-weight: 1000;
	font-style: normal
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-ThinItalic.otf') format('opentype');
	font-weight: 100;
	font-style: italic
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-LightItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-SemiboldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: 'Acma';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/fonts@main/PPAcma-BlackItalic.otf') format('opentype');
	font-weight: 1000;
	font-style: italic
}