body {
    background-image: url("Images/tcodar-body.png");
}

#page-header {
    background-image: url("Images/tcodar-header-light.png");
}

[data-color-scheme="dark"] #page-header {
    background-image: url("Images/tcodar-header-dark.png");
}

#c4 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-marrakech.jpg"));
}

#c5 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-new-york.jpg"));
}

#c6 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-rio.jpg"));
}

#c7 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-singapore.jpg"));
}

#c10 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-world.jpg"));
}

#c3 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-london.jpg"));
}

#c8 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-media.jpg"));
}

#c12 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-archives.jpg"));
}

#c1 .forumlist:before,
#c11 .forumlist:before {
    background-image: url("Images/tcodar-admin.jpg");
}

#c2 .forumlist:before,
#c9 .forumlist:before {
    background-image: url("Images/tcodar-off.jpg");
}

.group-4 {
    --group-color-50: #dddddd;
    --group-color: #333333;
}

.group-5 {
    --group-color-50: #d5f1e7;
    --group-color: #2c8063;
}

.group-6 {
    --group-color-50: #ffcccc;
    --group-color: #cd0000;
}

.group-7 {
    --group-color-50: #dde0ee;
    --group-color: #424f8a;
}

.group-8 {
    --group-color-50: #ffefd0;
    --group-color: #e59700;
}