body {
    background-image: url("Images/tcodar-body.png");
}

#page-header {
    background-image: url("Images/tcodar-header-light.jpg");
}

[data-color-scheme="dark"] #page-header {
    background-image: url("Images/tcodar-header-dark.jpg");
}

#c4 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-marrakech.jpg"));
}

#c5 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-new-york.jpg"));
}

#c6 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-rio.jpg"));
}

#c7 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-singapore.jpg"));
}

#c10 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-world.jpg"));
}

#c3 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-london.jpg"));
}

#c8 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-media.jpg"));
}

#c12 .forumlist:before {
    background-image: var(--forum-bg, url("Images/tcodar-archives.jpg"));
}

#c1 .forumlist:before,
#c11 .forumlist:before {
    background-image: url("Images/tcodar-admin.jpg");
}

#c2 .forumlist:before,
#c9 .forumlist:before {
    background-image: url("Images/tcodar-off.jpg");
}

.group-2 {
    --group-color: #333333;
}

.group-3 {
    --group-color: #60646c;
}

.group-4 {
    --group-color-50: #2c80637c;
    --group-color: #2c8063;
}

.group-5 {
    --group-color-50: #cd00007c;
    --group-color: #cd0000;
}

.group-6 {
    --group-color-50: #2e37607c;
    --group-color: #2e3760;
}

.group-7 {
    --group-color-50: #e597007c;
    --group-color: #e59700;
}